{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estación de Residuos Inteligentes</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.png' %}" />
    <link rel="stylesheet" href="{% static 'home.css' %}">
</head>
<body>
    <header>
        <img id="logo" src="{% static 'Residuos inteligentes-2.png' %}" alt="Estación de Residuos Inteligentes">
    </header>
    
    <main class="container">
        <section class="panel video-section">
            <img src="{% url 'video_feed' %}" class="video-feed" width="640" height="480" />
            <button id="btn" onclick="predecir()" disabled>Clasificar</button>
        </section>

        <section class="panel results-section">
            <div>
                <h1>Resultado</h1>
                <h2 id="result"></h2>
                <div id="loading" style="display: none;"></div>
            </div>
            <div class="qr" style="display: none;">
                <img id="qr" alt="QR Code">
                <h3>¡Escanea el código QR para ganar puntos!</h3>
            </div>
        </section>
        <script src="{% static 'home.js' %}"></script>
    </main>
</body>
</html>