<!DOCTYPE html>
<html>
<head>
    <title>Ver Imágenes</title>
</head>
<body>
    <h1>Imagen base</h1>
    <img src="{{ MEDIA_URL }}{{ imagen_base }}" alt="foto_0" width="500">

    <h2>Objetos detectados</h2>
    {% for img in imagenes_objetos %}
        <img src="{{ MEDIA_URL }}{{ img }}" alt="objeto" width="200" style="margin: 10px;">
    {% empty %}
        <p>No hay imágenes procesadas aún.</p>
    {% endfor %}
    
    <!--
    <p>MEDIA_URL = "{{ MEDIA_URL }}"</p>
    <p>imagen_base = "{{ imagen_base }}"</p>
    -->

</body>
</html>
